html, body {
  height: 100%;
  margin: 0;
}
.center {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
iframe {
  width: 640px;
  height: 480px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
.ol-popup {
  position: absolute;
  background-color: white;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  bottom: 12px;
  left: -50px;
  min-width: 180px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
}
.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}